URxvt.scrollBar: false
URxvt.font: xft:monospace:size=18
URxvt.*background: black
URxvt.*foreground: white
! URxvt.*borderLess: true
URxvt.internalBorder: 0

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #ffffff, argb:0000000, #000000
rofi.color-normal: #000000, #ffffff, #767676, #1aff00, #000000
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
